.dart_tool/
.git/
.github/
ios/
android/
windows/
linux/
macos/
.metadata
.packages
pubspec.lock
# Don't ignore build/web anymore! 
# build/ is usually ignored, so we explicitly allow the web part
build/*
!build/web/
